@*Layout sử dụng chính: Main_Layout*@

<!--start footer layout-->
<div class="container">
    <div class="row pb-2">
       
        <!-- end liên hệ -->
        <!-- start copy right -->
        <div class="cprt">
            <p>© Copyrights 2022</p>
        </div>
        <!-- end copy right -->
    </div>
</div>
<!--end footer layout-->